#evsz1{
    background-image: url();
    width: 256px;
    height: 256px;
    margin: 10px;
    float: left;
   }

#evsz2{
    background-image: url();
    width: 256px;
    height: 256px;
    margin: 10px;
    float: left;
   }

#evsz3{
    background-image: url();
    width: 256px;
    height: 256px;
    margin: 256px;
    float: left;
   }

#evsz4{
    background-image: url();
    width: 256px;
    height: 256px;
    margin: 10px;
    float: left;
   }