#evsz1{
    margin: 10px;
    float: left;
   }

#evsz2{
    margin: 10px;
    float: left;
   }

#evsz3{
    margin: 10px;
    float: left;
   }

#evsz4{
    margin: 10px;
    float: left;
   }

div:img{
    width: 256px;
    height: 256px;
}

p{
    font-weight: 600;
    font-family: times;
}