nav a {
    text-decoration: none;
    color: indigo;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    color: ghostwhite;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    transition: 8ms;
}