nav a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: indigo;
    text-shadow: 1px white;
}
nav a:hover {
    color: ghostwhite;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    transition: 8ms;
}