nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px white;
}
nav a:hover {
    color: ghostwhite;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    transition: 8ms;
}